<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>Error - Zeiterfassung</title>
    <meta charset="UTF-8">
</head>

<body>
<div class="center-content">
    <div class="timer-container">
        <h1 style="font-size: 2em;">Oops! Ein Fehler ist aufgetreten.</h1>
        <div class="description" style="font-size: 1.6em;">
            <p>Die von dir angeforderte Seite kann leider nicht gefunden werden.</p>
            <p>Bitte überprüfe die URL oder kehre zur Startseite zurück.</p>
        </div>
    </div>
    <div class="timer-container">
        <div class="button-group">
            <form action="/">
                <button class="circle blue" type="submit" style="font-size: 1em;">Zur Startseite</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
